[Unit]
Description=Backup MyNodeBtc and Apps
[Service]
User=root
Group=root
ExecStart=/usr/bin/bash /home/admin/backupmynode/backupmynode.sh
StandardError=append:/var/log/backupmynode_error.log
